/* Remove Webkit Default Style */
/* line 5, chrome.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 10, chrome.scss */
input::-webkit-calendar-picker-indicator {
  display: none;
}

/* line 13, chrome.scss */
input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}
