/* line 3, form-override.scss */
.slider {
  clear: both;
  padding: 0;
  margin: 0 auto;
  width: auto;
  overflow: hidden;
  background: #F4F4F4;
}
/* line 12, form-override.scss */
.slider fieldset > div {
  padding: 0;
  width: 95%;
  margin: auto;
}
/* line 18, form-override.scss */
.slider fieldset h4 {
  margin: 20px 0 20px 30px;
}
/* line 22, form-override.scss */
.slider .rhino-item {
  display: none;
}
/* line 25, form-override.scss */
.slider .rhino-active {
  display: block;
}

/* line 30, form-override.scss */
.rhino-bullets {
  display: block;
  position: static;
  bottom: auto;
  left: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #fff;
}
/* line 40, form-override.scss */
.rhino-bullets:before, .rhino-bullets:after {
  left: auto;
  display: inline-block;
  position: static;
  width: auto;
  height: auto;
}
/* line 48, form-override.scss */
.rhino-bullets .title {
  margin: 0;
  font-size: 11px;
  font-weight: bold;
}
/* line 54, form-override.scss */
.rhino-bullets li {
  float: left;
  margin: 0;
}
/* line 59, form-override.scss */
.rhino-bullets li a.rhino-bullet {
  display: block;
  width: 100%;
  height: 80px;
  cursor: pointer;
  background: none repeat scroll 0 0 #F8FDFF;
  border: 1px solid #EEEEEE;
  font-size: 10px;
  text-align: center;
  padding: 10px 0 5px 0;
  color: #000;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
}
/* line 77, form-override.scss */
.rhino-bullets li a.rhino-bullet:hover {
  cursor: default;
}
/* line 80, form-override.scss */
.rhino-bullets li a.rhino-bullet:focus {
  cursor: default;
  background-color: #FFF;
}
/* line 85, form-override.scss */
.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
  color: #000;
  background: #fff;
  border-bottom: none;
}
/* line 92, form-override.scss */
.rhino-bullets li a.rhino-bullet.step-error {
  background: #f5715f;
  color: #FFF;
}
/* line 97, form-override.scss */
.rhino-bullets li a.rhino-bullet.step-success {
  background: #72e487;
  color: #FFF;
}

/* line 106, form-override.scss */
.rhino-btn {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  -moz-user-select: none;
  color: #FFFFFF;
  display: block;
  margin: 0 20px 20px;
  padding: 10px;
  text-align: center;
  width: 100px;
  height: 20px;
  z-index: 10;
  font-weight: bold;
  text-decoration: none;
  text-indent: 0;
}
/* line 125, form-override.scss */
.rhino-btn.btn-primary {
  background-color: #006DCC;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 133, form-override.scss */
.rhino-btn.btn-primary:hover, .rhino-btn.btn-primary:focus {
  background-color: #04C;
  color: #FFF;
  background-position: 0 -15px;
  cursor: pointer;
}
/* line 141, form-override.scss */
.rhino-btn.btn-primary.disabled:hover {
  cursor: default;
}

/* line 148, form-override.scss */
.rhino-prev, .rhino-next {
  bottom: 0;
  position: static;
}

/* line 153, form-override.scss */
.form-prev {
  background-position: -168px 0;
  left: -6px;
}

/* line 159, form-override.scss */
.rhino-container .form-actions {
  position: relative;
  margin: 0 auto 30px;
  padding: 0;
  border: 0;
  height: 80px;
}

/* line 169, form-override.scss */
.field-error {
  border-color: #E9322D !important;
  box-shadow: 0 0 6px #F8B9B7 !important;
}

/* line 176, form-override.scss */
#form-modal .alert .close {
  right: -5px;
}
/* line 180, form-override.scss */
#form-modal #modal-body-text {
  margin-left: 50px;
}

/* line 186, form-override.scss */
div.remove-observableArray {
  padding: 0;
  margin-bottom: 5px;
  border: none;
}
/* line 190, form-override.scss */
div.remove-observableArray:hover {
  cursor: pointer;
}

/* line 199, form-override.scss */
.form-horizontal .row-fluid label {
  width: 120px;
  font-size: 13px;
}
/* line 203, form-override.scss */
.form-horizontal .row-fluid label.checkbox, .form-horizontal .row-fluid label.radio {
  width: 80%;
}
/* line 206, form-override.scss */
.form-horizontal .row-fluid label.checkbox.yes-no, .form-horizontal .row-fluid label.radio.yes-no {
  width: 25px;
}
/* line 212, form-override.scss */
.form-horizontal .row-fluid .controls {
  margin-left: 130px;
}
/* line 216, form-override.scss */
.form-horizontal .row-fluid input[type="text"], .form-horizontal .row-fluid textarea, .form-horizontal .row-fluid input[type="tel"], .form-horizontal .row-fluid input[type="number"] {
  width: 80%;
}
/* line 220, form-override.scss */
.form-horizontal .row-fluid select {
  width: auto;
}
/* line 225, form-override.scss */
.form-horizontal .row-fluid .element-block label {
  float: none;
  width: auto;
  text-align: left;
}
/* line 231, form-override.scss */
.form-horizontal .row-fluid .element-block .controls {
  margin-left: 20px;
}
/* line 235, form-override.scss */
.form-horizontal .row-fluid .element-block input[type="text"], .form-horizontal .row-fluid .element-block select, .form-horizontal .row-fluid .element-block textarea, .form-horizontal .row-fluid .element-block input[type="tel"], .form-horizontal .row-fluid .element-block input[type="number"] {
  float: none;
}
/* line 241, form-override.scss */
.form-horizontal .row-fluid .birthday-picker select {
  width: auto;
}
/* line 246, form-override.scss */
.form-horizontal .row-fluid input[type="button"] {
  margin: 10px auto;
}
/* line 251, form-override.scss */
.form-horizontal .options-only .controls {
  margin-left: 30px;
}
/* line 255, form-override.scss */
.form-horizontal .options-only label.checkbox, .form-horizontal .options-only label.radio {
  width: 95%;
}
/* line 262, form-override.scss */
.form-horizontal .blood-pressure input[type="number"] {
  width: 30%;
}
