/*===== Fuel UX Override =====*/

.modal {
	hr {
		margin-top: 0;
		margin-bottom: 0;
	}

	.modal-header {
		overflow: hidden;
		h3 {
			width: 80%;
			float: left;
		}
	}
}

.fuelux {

	a {
		[class*="icon-"] {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}

	.icon-user {
		background: none;
		width: auto;
		line-height: normal;
		height: auto;
	}

	.step-content {
		border: solid 1px #D4D4D4;
		border-radius: 0 0 4px 4px;
		border-bottom: none 0;
		border-top: none 0;
		margin-bottom: 0;
		padding: 30px;
		padding-bottom: 1px;
	}

	.wizard {
		ul {
			li {
				.chevron {
					display: none;
				}
			}
		}
		.actions {
			display: none;
		}
	}

	.step-pane {
		.btn-group {
			button {
				float: left;
			}
		}
	}

	.wizard-actions {
		margin-top: 0;
		padding: 20px;
		padding-top: 0;
		border: solid 1px #D4D4D4;
		border-top: none 0;
		overflow: hidden;
		height: auto;

		#wizard-prev {
			float: left;
			i {
				margin-right: 5px;
			}
		}
		#wizard-next {
			float: right;
			i {
				margin-left: 5px;
			}
		}
	}

	.btn {
		&.btn-large {
			line-height: normal;
			overflow: hidden;
			width: auto;
			height: auto;

			i {
				line-height: normal;
				height: 20px;
				width: 20px;
				margin-top: 0;
				background-image: none;
			}
		}
	}
}

.form-horizontal, .fuelux .form-horizontal {
	&:first-child {
		.controls {
			padding-left: auto !important;
		}
	}

	.row-fluid {
		.controls {
			margin-left: auto !important;

			&:first-child {
				*padding-left: auto !important;
			}

		}
	}
}