/*===== Fuel UX Override =====*/
.modal hr {
  margin-top: 0;
  margin-bottom: 0; }
.modal .modal-header {
  overflow: hidden; }
  .modal .modal-header h3 {
    width: 80%;
    float: left; }

.fuelux a [class*="icon-"] {
  text-decoration: none; }
  .fuelux a [class*="icon-"]:hover {
    text-decoration: none; }
.fuelux .icon-user {
  background: none;
  width: auto;
  line-height: normal;
  height: auto; }
.fuelux .step-content {
  border: solid 1px #D4D4D4;
  border-radius: 0 0 4px 4px;
  border-bottom: none 0;
  border-top: none 0;
  margin-bottom: 0;
  padding: 30px;
  padding-bottom: 1px; }
.fuelux .wizard .steps li {
  font-size: 14px; }
.fuelux .wizard ul li .chevron {
  display: none; }
.fuelux .wizard .actions {
  display: none; }
.fuelux .step-pane .btn-group button {
  float: left; }
.fuelux .wizard-actions {
  margin-top: 0;
  padding: 20px;
  padding-top: 0;
  border: solid 1px #D4D4D4;
  border-top: none 0;
  overflow: hidden;
  height: auto; }
  .fuelux .wizard-actions #wizard-prev {
    float: left; }
    .fuelux .wizard-actions #wizard-prev i {
      margin-right: 5px; }
  .fuelux .wizard-actions #wizard-next {
    float: right; }
    .fuelux .wizard-actions #wizard-next i {
      margin-left: 5px; }
.fuelux .btn.btn-large {
  line-height: normal;
  overflow: hidden;
  width: auto;
  height: auto; }
  .fuelux .btn.btn-large i {
    line-height: normal;
    height: 20px;
    width: 20px;
    margin-top: 0;
    background-image: none; }

.form-horizontal:first-child .controls, .fuelux .form-horizontal:first-child .controls {
  padding-left: auto !important; }
.form-horizontal .row-fluid .controls, .fuelux .form-horizontal .row-fluid .controls {
  margin-left: auto !important; }
  .form-horizontal .row-fluid .controls:first-child, .fuelux .form-horizontal .row-fluid .controls:first-child {
    *padding-left: auto !important; }
